a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
    cursor: pointer !important;
}
.alert-warning {
    color: #fafafa !important;
    background-color: #f7c836f0 !important;
    border: 1px solid #ebc142 !important;
}
.alert-success {
    color: #fafafa !important;
    background-color: #34c73bf0 !important;
    border: 1px solid #33b86c !important;
}
.alert-danger {
    color: #fafafa !important;
    background-color: #d74548 !important;
    border: 1px solid #cb2a2a !important;
}
.form-control {
    background-color: #fcfcfc !important;
    color: #2F353F !important;
    font-size: 14px !important;
    border: 1px solid #d4d4d4 !important;
}
div.img-resize img {
    width: auto;
    height: 450px;
}

div.img-resize {
    width: 500px;
    height: 450px;
    overflow: hidden;
    text-align: center;
}